:root {
  /* Palette variables from provided image */
  --color-black: #000000;
  --color-orange: #f16b32;
  --color-yellow: #f7ce0f;
  --color-gray-dark: #67696a;
  --color-gray: #808282;
  --color-turquoise: #53a497;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.92);
  background-color: var(--color-yellow);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-orange);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-gray);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-orange);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, background 0.15s;
}

button:hover {
  border-color: rgba(255, 255, 255, 0.06);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--color-gray);
  }

  button {
    background-color: #f9f9f9;
  }
}