.app-main {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 900px) {
  .container {
    padding: 0 1.5rem;
  }
}
